{% extends "main.twig" %}


	{% block stylesheetBase %}
		{{ parent() }}
		<link rel="stylesheet" href="css/stickers.css">
	{% endblock %}

	{% block container %}
		<h3>Qu'est-ce qu'un stickers ?</h3>
		<img class="img-right" src="img/stickers1.png">
		<p>Un stickers est un autocollant decoratif vous permettant de personnaliser un lieu ou un objet afin de le rendre unique et à votre gout.</p>

		<p>Pour arriver à ce résultat, nous utilisons des vinyles autocollant, découpés en fonctions du résultat que l'on souhaite obtenir. Il nous suffit ensuite de les "poser" sur différents supports afin d'obtenir le résultat escompté.</p>

		<h3>Sur quoi puis-je poser un stickers ?</h3>
		<img class="img-left" src="img/stickers2.png">
		<p>Tout support est convenable à partir du moment où il est lisse. Nous posons des stickers sur des murs, des vitrines, du bois, du plastique, du metal. Nous sommes en mesure de créer des stickers pour votre voiture, votre boutique, vos objets, ou encore pour votre maison (chambre, salon, cuisine, salle de bains,...). </p>

		<p>Cette technologie qui est resté très longtemps reservé aux grosses structures (dû à son coût de fabrication élevé) est deshormais abordable pour tous et nous sommes là pour vous en faire profiter.</p>

		<h3>Comment fonctionne Azur Design & Solution ?</h3>
		<h4>Le premier contact</h4>
		<img class="img-right" src="img/stickers3.png">
		<p>Nous vous proposons plusieurs rendez-vous de manière à nous expliquer votre projet. Pendant cette phase, nous mettrons tout en oeuvre pour trouver une solution en fonction de vos envies, votre budget et nos possibilités.</p>

		<p>Apres cette phase de découverte, et en fonction de vos attentes, nous vous créons un devis détaillé prennant en compte vos choix. Il se divise en 3 grandes parties : La conception du modèle, la création des differents élement composant l'environnement defini précédemment et enfin la pose de votre projet. </p>

		<p>Toutes ces phases ne sont pas obligatoires et seront définies lors de nos premiers entretiens en fonction de votre projet. Par exemple, vous pouvez nous soumettre vos modèles ou encore vouloir posez vous-même votre projet. Tout est possible, c'est à ça que sert notre premier contact !</p>

		<h4>La conception de votre projet</h4>
		<img class="img-left" src="img/stickers4.png">
		<p>En utilisant des logiciels spécialisés dans la conception graphique et en s'inspirant des tendances actuelles, nous créons pour vous une maquette de votre projet, adaptée à vos exigences. Pour arriver à ce résultat, plusieurs solutions sont possibles.</p>

		<p>Première possibilité, vous ne disposez d'aucun documents (graphiques) et vous souhaitez nous laisser créer votre identité visuelle. En fonction de ce que nous aurons décidé ensemble lors des entretiens précédents, nous créons le visuel de votre projet de A à Z.</p>

		<p>Seconde possibilité, Vous disposez de certains documents (logo, dessin, image, ...) que vous souhaiteriez intégrer à ce projet. En fonction de ce que nous aurons décidé ensemble lors des entretiens précedents, nous créons le visuel de votre projet en incluant vos documents tout en respectant votre charte graphique.</p>

		<p>Enfin, en dernière possibilité, vous disposez deja d'un visuel de votre projet. Nous utiliserons alors celui-ci pour creer une maquette fidèle à vos attentes.</p>

		<h4>La création de votre projet</h4>
		<img class="img-right" src="img/stickers5.png">
		<p>Pour créer votre projet, nous utilisons des "plotter" pilotés par ordinateur de façon à reproduire avec exactitude votre maquette. Découpé dans des matériaux de qualités, votre stickers est ensuite echenillé (suppression des parties superflues), puis déposé sur un papier "transfert" qui permettra de coller votre stickers en gardant un maximum de précision, vous garantissant ainsi la reproduction de votre projet au millimetre pres.</p>

		<h4>La pose de votre projet</h4>
		<img class="img-left" src="img/stickers6.png">
		<p>Une fois la création terminée, nous vous contactons de façon à prendre rendez-vous pour la pose de votre projet. Pour le moment nous intervenons principalement dans le departement des Alpes Maritimes (06). Toutefois, si vous habitez dans un autre département, nous vous propospons 2 solutions : </p>

		<p>- Vous vous sentez pret à poser votre projet tout seul : Nous vous envoyons votre projet et nous restons à votre disposition pour tout conseil qui concerne la pose de votre projet. Attention tout de même nous ne pourrons être tenu responsable de la dégradation d'une partie ou de la totalité du stickers dû à une erreur de manipulation lors de la pose.</p>

		<p>- Vous ne vous sentez pas pret à poser votre projet tout seul : En fonction de nos disponibilités, nous mettons tout en oeuvre pour trouver un arrangement qui vous permettra de profiter de votre projet le plus tot et dans les meilleures conditions possibles.</p>

		<p>Toutes nos réalisations sont garanties de 3 à 5 ans en fonction du support et de l'exposition du projet.</p>

	{% endblock %}
