{% extends "main.twig" %}

	{% block stylesheetBase %}
		{{ parent() }}
		<link rel="stylesheet" href="css/home.css">
	{% endblock %}

	{% block backLink %}{% endblock %}

	{% block container %}
		<h3>Azur Design & Solution, </h3>
		<p>c'est un ensemble de compétences mises à votre service, dans le domaine de <strong>la publicité, l'image de marque et la décoration</strong>.</p>

		<p>Pour mettre en avant une idée, un concept, une marque, plusieurs supports sont à votre disposition. Nous vous proposons différentes solutions adaptées à votre situation en fonction de <strong>votre budget</strong>.</p>

		<h3>Présence sur le Web : </h3>
		<p>Grace à des solutions « <strong>clés en mains</strong> », profiter des dernières technologies et ouvrez-vous à ce média aujourd'hui incontournable.</p>
		<div class="exemples">
			<img src="img/exemple8.jpg">
			<img src="img/exemple6.jpg">
			<img src="img/exemple5.jpg">
			<img src="img/exemple7.jpg">
		</div>

		<h3>Lettrage & Marquage Adhésif : </h3>
		<p>Murs, vitrines, vitres, miroirs, vehicules, enseignes, ainsi que plein d'autres supports permettent un <strong>marquage publicitaire ou décoratif</strong> afin de créer des univers qui vous ressemblent.</p>
		<div class="exemples">
			<img src="img/exemple1.jpg">
			<img src="img/exemple2.jpg">
			<img src="img/exemple3.jpg">
			<img src="img/exemple4.jpg">
		</div>


		<h3>Documents Commerciaux & Identité Visuelle : </h3>
		<p>Création de Plaquettes publicitaires, Flyers, Affiches, Cartes de visite, Matrices administratives (Factures, Devis, ...), création de logo, bannières et entêtes personnalisées. </p>
		<div class="exemples">
			<img src="img/exemple9.jpg">
			<img src="img/exemple10.jpg">
		</div>

		<br>
		<h4>Nos créations sont aussi bien destinées aux entreprises qu'aux particuliers. Nous créons des environnements à votre image et adaptés à tout budget.</h4>
	{% endblock %}
