{% extends "main.twig" %}

{% block stylesheetBase %}
	{{ parent() }}
   	<link rel="stylesheet" type="text/css" href="css/styleAccueil.css">
{% endblock %}

{% block contenu %} 
<section>	

	<article id="loginForm" class="cadre message">
	{% for desc in DESC_PAGE %}
        	<p>{{ desc }}</p>
    {% endfor %}
	<a class="btn back" href="{{ url.accueil }}" >{{ dico('back') }}</a>
	</article>

</section>

{% endblock %}