{% extends "main.twig" %}


	{% block stylesheetBase %}
		{{ parent() }}
		<link rel="stylesheet" href="css/graphisme.css">
	{% endblock %}

	{% block container %}
		<h3>Le graphisme, un élément essentiel</h3>
		<p>Equivalent à la vitrine d'un magasin, le graphisme pour une entreprise est primordiale afin de vehiculer correctement les valeurs propres à la marque.</p>
	
		<img class="img-right" src="img/whyGraphic.jpg">
		<p>Pour se faire, nous vous proposons nos services graphiques quelque soit le support ainsi que vos besoins.</p>
	 
		<p>Que ce soit pour la création d'un "logotype" spécifique et déclinable, d'une identité visuelle personnalisée et adaptée à votre enseigne, ou encore d'une charte graphique déclinable sur différents supports, nous vous accompagnons tout au long de la création.</p>

		<h3>Le logo</h3>
		<img class="img-left" src="img/createLogo.jpg">
		<p>Le logotype, ligne directrice de l'ensemble de la charte graphique du projet, est un élément comprehensif et identifiable quelque soit son support, sa couleur ou sa taille. L'ensemble de l'univers qraphique du projet dépend de cet élément.</p>

		<h3>L'identité visuelle</h3>
		<img class="img-right" src="img/visualIdentity.jpg">
		<p>Puis en fonction de vos exigences, des visuels deja existants, l'identité visuelle complète viens mettre en avant les valeurs vous représentant en choisissant les messages, les mises en pages, les couleurs et les images dynamisant ainsi votre communication.</p>

		<h3>La charte graphique</h3>
		<img class="img-left" src="img/charte.jpg">
		<p>Enfin, grace à nos entretiens et ces deux éléments principaux, nous traduisons l'ensemble de ces éléments et valeurs dans une charte graphique resumant ainsi les choix graphiques, typographiques, l'univers coloriel déclinés sur l'ensemble de vos supports.  </p>
	
		<h3>Une présence sur de nombreux supports</h3>
		<img class="img-right" src="img/supportVisual.jpg">
		<p>Cette charte graphique nous permet ainsi de vous accompagner dans la créations de différents supports (Print ou Web) en accord avec vos valeurs et votre personnalité. </p>

		<p>De la création de documents commerciaux (plaquettes publicitaires, flyers, affiches, catalogues, cartes de visites, cartons d'invitations, faire parts, menus) à l'élaboration de papiers en-tête personnalisé ou encore au maquettage de documents administratifs (factures, devis, bordereaux divers), nous sommes présent et vous proposons nos compétences pour mettre en avant votre société et les valeurs qu'elle défend.</p>
	{% endblock %}
